* {
  margin: 0;
  padding: 0; }

.body {
  background-repeat: no-repeat;
  background: #eeeeee;
  background: linear-gradient(200deg, #eeeeee 5%, #9a9a9a 55%, #4e4e4e 100%); }

.articulos .card, #credito,
#cambio,
#service,
#lavadero {
  background: #eeeeee;
  background: linear-gradient(60deg, #eeeeee 0%, #afafaf 60%); }

.boton {
  background-color: #141414;
  color: #eeeeee;
  text-decoration: none;
  padding: .6rem;
  border-radius: 5px;
  border: 0; }

.boton:hover {
  border: 0;
  background-color: #a0a0a0;
  color: #141414; }

#facebook i:hover {
  color: #24569a;
  transition: .3s; }

#instagram i:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

#twitter i:hover {
  color: #1d9bf0;
  transition: .3s; }

#whatsapp i:hover {
  color: #2fb944;
  transition: .3s; }

.boton:hover {
  transition: .2s; }

.navColor {
  background-color: #FFFF;
  padding: 0; }

#navbarNavDropdown {
  justify-content: end;
  padding-right: 20px; }

.secciones li {
  padding: 0px 10px 0px 10px; }

#navbarDropdownMenuLink {
  padding-right: 0; }

.nav-item:hover {
  background-color: #c7c5c5bb;
  border-radius: 30px;
  transition: .5s; }

.dropdown {
  margin-right: 20px; }

.Logo {
  margin: 0px 0px 0px 10px; }

.logo {
  max-width: 110px; }
  .logo:hover {
    max-width: 111px; }

.articulos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center; }
  .articulos .card {
    max-width: 18rem;
    margin: 20vh 10vh 20vh 10vh; }

.sec1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto; }

#credito,
#cambio,
#service,
#lavadero {
  max-width: 25rem;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  margin: 15px; }
  #credito:hover,
  #cambio:hover,
  #service:hover,
  #lavadero:hover {
    background: #363434;
    background: linear-gradient(45deg, #363434 0%, #6c6c6c 56%);
    color: #c4c0c0;
    transition: 0.5s; }

#service ul {
  text-align: start; }

#credito a,
#cambio a,
.a {
  color: #5eedf7fb; }
  #credito a:hover,
  #cambio a:hover,
  .a:hover {
    color: #08a9b5da; }

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center; }

.Form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px; }

.form {
  width: 100rem;
  max-width: 35rem;
  padding: 20px;
  background: #363434;
  background: linear-gradient(45deg, #363434 0%, #6c6c6c 56%);
  color: black;
  transition: 0s;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow: auto; }
  .form span,
  .form p {
    color: whitesmoke;
    font-size: 20px; }
  .form textarea {
    border-radius: 10px; }
  .form input {
    margin: 10px 10px;
    padding: 5px;
    border-radius: 20px;
    border: 0; }

.datosPersonales,
.datosAuto,
.calServicios {
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: center; }

.vender {
  font-size: 30px; }

.table-responsive {
  display: flex;
  justify-content: center;
  margin: 5px; }

.table2 th,
.table2 td {
  border: solid black 1px;
  padding: 10px;
  text-align: center; }

.n-info {
  display: flex;
  margin: 30px;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.n-ubicacion,
.n-contacto {
  border: black solid 1px;
  padding: 20px;
  margin: 20px;
  overflow: auto; }

.n-ubicacion,
.n-contacto h2 {
  text-align: center; }

.agencia {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px; }
  .agencia img {
    height: auto;
    width: auto;
    max-width: 50%; }
  .agencia p {
    padding: 30px;
    font-size: 20px; }

.autos img {
  max-width: 100%; }

.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "img1 img2 img3" "img4 img5 img6"; }

.img1 {
  grid-area: img1; }

.img2 {
  grid-area: img2; }

.img3 {
  grid-area: img3; }

.img4 {
  grid-area: img4; }

.img5 {
  grid-area: img5; }

.img6 {
  grid-area: img6; }

.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
  transition: .7s;
  transform: scale(0.9); }
  .img1 .c-img,
  .img2 .c-img,
  .img3 .c-img,
  .img4 .c-img,
  .img5 .c-img,
  .img6 .c-img {
    position: relative;
    cursor: pointer;
    display: flex;
    text-align: center; }
  .img1:hover,
  .img2:hover,
  .img3:hover,
  .img4:hover,
  .img5:hover,
  .img6:hover {
    border-radius: 5px; }
    .img1:hover img,
    .img2:hover img,
    .img3:hover img,
    .img4:hover img,
    .img5:hover img,
    .img6:hover img {
      filter: blur(3px); }
  .img1 .txt,
  .img2 .txt,
  .img3 .txt,
  .img4 .txt,
  .img5 .txt,
  .img6 .txt {
    text-align: center;
    position: absolute;
    transition: all 0.3s;
    transform: scale(1.4);
    opacity: 0;
    color: #fff;
    width: 100%;
    height: 100%; }
    .img1 .txt p,
    .img2 .txt p,
    .img3 .txt p,
    .img4 .txt p,
    .img5 .txt p,
    .img6 .txt p {
      margin: 1.5%;
      padding: 0;
      text-align: left; }
    .img1 .txt b,
    .img2 .txt b,
    .img3 .txt b,
    .img4 .txt b,
    .img5 .txt b,
    .img6 .txt b {
      text-decoration: underline 1px white;
      font-size: 110%; }
    .img1 .txt h3,
    .img2 .txt h3,
    .img3 .txt h3,
    .img4 .txt h3,
    .img5 .txt h3,
    .img6 .txt h3 {
      text-decoration: underline 2px white; }
    .img1 .txt:hover,
    .img2 .txt:hover,
    .img3 .txt:hover,
    .img4 .txt:hover,
    .img5 .txt:hover,
    .img6 .txt:hover {
      transform: scale(1);
      opacity: 1; }

.ventana {
  color: #5eedf7fb; }
  .ventana:hover {
    color: #08a9b5da; }

.tituloModal {
  padding-left: 37%; }

.opciones-autos {
  display: flex;
  justify-content: space-evenly; }

.precio {
  display: none; }

.eliminarX {
  font-size: 3.5vh;
  padding: 0.5vh; }
  .eliminarX:hover {
    color: red;
    cursor: pointer; }

.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: black;
  color: aliceblue; }
  .footer ol {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 30px;
    padding: 0; }
    .footer ol li {
      list-style: none;
      padding: 4vh; }
      .footer ol li i {
        font-size: 190%;
        color: gray; }
  .footer h4 {
    padding: 4%;
    font-size: 20px; }

#autor {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

@media (max-width: 1199px) {
  .table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "img1 img2" "img3 img4" "img5 img6"; }
  .img1 {
    grid-area: img1; }
  .img2 {
    grid-area: img2; }
  .img3 {
    grid-area: img3; }
  .img4 {
    grid-area: img4; }
  .img5 {
    grid-area: img5; }
  .img6 {
    grid-area: img6; } }

@media (max-width: 576px) {
  .articulos .card {
    margin: 9vh; }
  .table-responsive {
    display: block; }
  .table {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .5fr .5fr .5fr .5fr .5fr .5fr;
    grid-auto-columns: .1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6"; }
  .img1 {
    grid-area: img1; }
  .img2 {
    grid-area: img2; }
  .img3 {
    grid-area: img3; }
  .img4 {
    grid-area: img4; }
  .img5 {
    grid-area: img5; }
  .img6 {
    grid-area: img6; }
  .txt {
    max-width: 90%;
    max-height: 90%; }
  .tituloModal {
    padding-left: 30%; }
  .footer ol li {
    padding: 2vh; } }
