.autos {
    img {
        max-width: 100%;

    }


}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "img1 img2 img3"
        "img4 img5 img6";
}

.img1 {
    grid-area: img1;
}

.img2 {
    grid-area: img2;
}

.img3 {
    grid-area: img3;
}

.img4 {
    grid-area: img4;
}

.img5 {
    grid-area: img5;
}

.img6 {
    grid-area: img6;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
    .c-img {
        position: relative;
        cursor: pointer;
        display: flex;
        text-align: center;
    }

    &:hover {
        border-radius: 5px;

        img {
            filter: blur(3px);
        }

    }

    .txt {
        text-align: center;
        position: absolute;
        transition: all 0.3s;
        transform: scale(1.4);
        opacity: 0;
        color: #fff;
        width: 100%;
        height: 100%;

        p {
            margin: 1.5%;
            padding: 0;
            text-align: left;
        }

        b {
            text-decoration: underline 1px white;
            font-size: 110%;
        }

        h3 {
            text-decoration: underline 2px white;
        }

        &:hover {
            transform: scale(1);
            opacity: 1;
        }
    }

    transition: .7s;
    transform: scale(.9);

}

.ventana {
    color: $a;

    &:hover {
        color: $A;
    }
}

.tituloModal {
    padding-left: 37%;
}

.opciones-autos {
    display: flex;
    justify-content: space-evenly;
}

.precio {
    display: none;
}

.eliminarX {
    font-size: 3.5vh;
    padding: 0.5vh;
    &:hover{
        color: red;
        cursor: pointer;
    }
}