.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: black;
    color: aliceblue;

    ol {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 30px;
        padding: 0;

        li {
            list-style: none;
            padding: 4vh;

            i {
                font-size: 190%;
                color: gray;
            }
        }
    }

    h4 {
        padding: 4%;
        font-size: 20px;
    }
}


#facebook i:hover {
    @extend %facebook;
}

#instagram i:hover {
    @extend %instagram;
}


#twitter i:hover {
    @extend %twitter;
}

#whatsapp i:hover {
    @extend %whatsapp;
}

#autor {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}